In [4]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

In [7]:
import pandas as pd
df = pd.read_csv('dataset_review_tokped_cleaned.csv')
df.head()

                                              Review  Rating
0                                      enak kuacinya       5
1  pengiriman cepat packing bagus sesuai pesanan ...       5
2  pengemasan luar biasa baik untuk rasa menurut ...       4
3                                    terimakasih min       5
4                 udah order untuk kesekian kali jos       5

In [8]:
rating = pd.get_dummies(df.Rating)
rating

      1  2  3  4  5
0     0  0  0  0  1
1     0  0  0  0  1
2     0  0  0  1  0
3     0  0  0  0  1
4     0  0  0  0  1
...  .. .. .. .. ..
4055  0  0  0  0  1
4056  0  0  0  0  1
4057  0  0  0  0  1
4058  0  0  0  0  1
4059  0  0  0  1  0

[4060 rows x 5 columns]

In [9]:
new_df = pd.concat([df, rating], axis=1)
new_df = new_df.drop(columns='Rating')
# new_df
dataset = new_df.values

In [ ]:
# X = dataset[:,0:1]
# X

In [10]:
review = new_df['Review'].values
label = new_df[[1, 2, 3, 4, 5]].values
new_df

                                                 Review  1  2  3  4  5
0                                         enak kuacinya  0  0  0  0  1
1     pengiriman cepat packing bagus sesuai pesanan ...  0  0  0  0  1
2     pengemasan luar biasa baik untuk rasa menurut ...  0  0  0  1  0
3                                       terimakasih min  0  0  0  0  1
4                    udah order untuk kesekian kali jos  0  0  0  0  1
...                                                 ... .. .. .. .. ..
4055  seller sangat responsif rasa belum dicoba kare...  0  0  0  0  1
4056                          imut2 banget packing aman  0  0  0  0  1
4057                        good product trusted seller  0  0  0  0  1
4058                                 sudah beli yg ke 3  0  0  0  0  1
4059                                    byk campurannya  0  0  0  1  0

[4060 rows x 6 columns]

In [49]:
# y = dataset[:,1:6]
# y

In [11]:
 review

array(['enak kuacinya',
       'pengiriman cepat packing bagus sesuai pesanan belum di coba terima kasih',
       'pengemasan luar biasa baik untuk rasa menurut saya lebih dominan ke rasa original atw rasa asli kuacinya mau varian rasa apapun soalnya rasanya kurang dominan dan kurang sedikit rasa asin juga yang agak kerasa itu varian rasa rumput laut untuk yang lain nya menurut saya kurang mendominasi rasanya lebih ke original sih',
       ..., 'good product trusted seller', 'sudah beli yg ke 3',
       'byk campurannya'], dtype=object)

In [8]:
#  from sklearn.model_selection import train_test_split
# sinopsis_latih, sinopsis_test, label_latih, label_test = train_test_split(sinopsis, label, test_size=0.2)

In [12]:
review_latih, review_test, label_latih, label_test = train_test_split(review, label, test_size=0.2)

In [13]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
 
tokenizer = Tokenizer(num_words=5000, oov_token='x',filters='!"#$%&()*+,-./:;<=>@[\]^_`{|}~ ')
tokenizer.fit_on_texts(review_latih) 
tokenizer.fit_on_texts(review_test)
 
sekuens_latih = tokenizer.texts_to_sequences(review_latih)
sekuens_test = tokenizer.texts_to_sequences(review_test)
 
padded_latih = pad_sequences(sekuens_latih) 
padded_test = pad_sequences(sekuens_test)

In [14]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=5000, output_dim=64),
    tf.keras.layers.LSTM(128),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(5, activation='softmax')
])
model.compile(optimizer='adam', metrics=['accuracy'], loss='categorical_crossentropy',)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, None, 64)          320000
_________________________________________________________________
lstm (LSTM)                  (None, 128)               98816
_________________________________________________________________
dense (Dense)                (None, 128)               16512
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 645
=================================================================
Total params: 435,973
Trainable params: 435,973
Non-trainable params: 0
_________________________________________________________________

In [19]:
class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('accuracy')>0.9 and logs.get('val_accuracy')>0.9):
      self.model.stop_training = True
      print("\nThe accuracy of the training set and the validation set has reached > 90%!")
callbacks = myCallback()

In [20]:
# model fit
history = model.fit(padded_latih, label_latih, epochs=5, 
                    validation_data=(padded_test, label_test), callbacks=[callbacks], verbose=2)

Epoch 1/5
102/102 - 21s - loss: 0.1731 - accuracy: 0.9366 - val_loss: 0.6777 - val_accuracy: 0.8559
Epoch 2/5
102/102 - 21s - loss: 0.1441 - accuracy: 0.9483 - val_loss: 0.8786 - val_accuracy: 0.8411
Epoch 3/5
102/102 - 21s - loss: 0.1282 - accuracy: 0.9486 - val_loss: 0.7704 - val_accuracy: 0.8362
Epoch 4/5
102/102 - 21s - loss: 0.1031 - accuracy: 0.9640 - val_loss: 0.8744 - val_accuracy: 0.8325
Epoch 5/5
102/102 - 21s - loss: 0.0829 - accuracy: 0.9695 - val_loss: 1.0378 - val_accuracy: 0.8522